<% layout("/layouts/boilerplate") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
   
   
    const coordinates = JSON.parse('<%- JSON.stringify(listings.geometry.coordinates) %>');

 
</script>


    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">


                <h3><%= listings.title %></h3>

                <div class="card listing-card">
                    <img src="<%= listings.image.url %>" class="card-img-top show-img" alt="listing image">

                    <div class="card-body">
                        <p>
                            <i>
                                <b>Owned by :</b>
                                <%= listings.owner.username %>
                            </i>
                        </p>

                        <p><%= listings.description %></p>

                        <p>₹ <%= listings.price.toLocaleString("en-IN") %></p>

                        <p><%= listings.country %></p>

                        <p><%= listings.location %></p>
                    </div>
                </div>
                <%if(curruser && curruser._id.equals(listings.owner._id)){%>

                <div class="btns d-flex gap-3 mt-3">
                    <form method="get" action="/listings/<%= listings._id %>/edit">
                        <button type="submit" class="btn btn-dark">
                            Edit
                        </button>
                    </form>

                    <form method="post" action="/listings/<%= listings._id %>?_method=DELETE">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div><%}%>

                <hr>
                 <%if(curruser){%>

                <h4>Leave a Review</h4>

                

                <form
                    method="post"
                    action="/listings/<%= listings._id %>/reviews"
                    class="mb-3 needs-validation"
                    novalidate
                >
                  <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input
                            type="range"
                            max="5"
                            id="rating"
                            name="review[rating]"
                            class="form-range"
                        >
                    </div>-->
                <div class="mb-3">

                      <fieldset class="starability-slot">
                        <!---<label for="rating" class="form-label">Rating</label>-->

  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset></div>

                    <div class="mb-3">
                        <label for="comment" class="form-label">Comments</label>

                        <textarea
                            id="comment"
                            name="review[comment]"
                            rows="4"
                            class="form-control"
                            required
                        ></textarea>
                    </div>

                    <button class="btn btn-outline-dark">
                        Submit
                    </button>
                </form>
                <hr><%}%>
                <%if(listings.reviews.length>0){%>

                <h5><b>All Reviews!</b></h5>

                <div class="row">
                    <% for(let review of listings.reviews){ %>
                        <div class="col-md-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <p><b><i><%=review.author.username%></i></b></p>
                                                          
                   <p class="starability-result card-text" data-rating="<%= review.rating %>">
                                            Rated: 3 stars
                                         </p>

                                    <p><%= review.comment %></p>

                                    

                
                                </div>

                                  <%if(curruser && curruser._id.equals(review.author._id)){%>

                                <form
                                    class="ms-2 mb-2"
                                    method="post"
                                    action="/listings/<%= listings._id %>/reviews/<%= review._id %>">
                                
                                    <button class="btn btn-sm btn-dark">
                                        Delete
                                    </button>
                                </form><%}%>
                            </div>
                        </div>
                    <% } %>
                </div>

            </div><% } %>
<!--map-->
            <div class="col-6">
                <h3>
                    Where you'll be
                </h3>

                <div id="map"></div>



            </div>
            
        </div>

    </div>
    <script src="/js/map.js"></script>
  
<br>

